.box{
    height: 200px;
    width: 200px;
    background-color: blue;
    animation: example 2s ease 0s infinite alternate both;
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes example{
    from{
        transform: translateY(0px) rotate(0deg);
    }
    to{
       transform: translateY(-100px) rotate(135deg);
    }
}